[Unit]
Description=Get output of %i and send it to Graphite

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStart=/bin/sh -euxc 'time=`date +%%s`; output=`./%i`; echo %i $output $time | bin/send-to-graphite'
