[Unit]
Description=Measure execution time of %i and send it to Graphite

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStart=/bin/sh -euxc 'time=`date +%%s` && echo %i `bin/time-it ./%i` $time | bin/send-to-graphite'
