[Unit]
Description=Run time-it-and-send-to-graphite@%i each 30 minutes

[Timer]
# OnUnitActiveSec is broken: https://github.com/systemd/systemd/issues/6680
OnCalendar=*:00,30
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
