# bash
/.bash_history
/.bash_logout
/.bashrc
/.profile

# generated
/.cache/
/go/
/snap/
/venv/
/.config/htop/
/.lesshst
/.selected_editor
/.viminfo

# identity
/.local/
/.ssh/

# cloned
/src/

# Added by ansible-config
docker-compose.yaml
